@charset "UTF-8";



/* common */
html {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  margin: 0;
  height: 100%;
  animation: bgchange 25s infinite;
}

section {
  margin-top: 105px;
  z-index: 1;
}

.fadeIn {  
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;
}

/* スクロール時に入るクラス */
.scrollIn {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

img {
  vertical-align: bottom;
}

a {
  color:black;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

ul {
  list-style: none;
}

article,
h1,
h2,
h4,
div,
p,
ul,
li,
small {
  margin: 0;
}

.font-agenda {
  font-family: agenda, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.main {
  width: 100%;
  padding: 0 30px;
  position: relative;
  z-index: 1;
}

.section-title h2 {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  padding-bottom: 25px;
}

.section-title h2::after {
  border: 1.5px solid black;
  content: "";
  width: 100%;
  margin-left: 20px;
}

.btn {
  color: white;
  border-radius: 22px;
  text-align: center;
}

.notes {
  font-size: 0.75rem;
  margin: 10px 0 30px 0;
  line-height: 22px;
}

.notes a {
  color: #ff6aaa;
}

/* header */
#header {
  height: 100vh;
  position: relative;
  animation: fadeInAnime 3s forwards;
  z-index: 10;
}

#header::after {
  content: "";
  transition: all 0.3s;
  background-color: #F8F8F8;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#header .header__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header .header__image h1 img {
  max-width: 100%;
  width: auto;
}

.header__menu {
  font-size: 1rem; /* 16px */
  text-align: right;
  position: fixed;
  top: 18px;
  right: 19px;
}

.header__menu-link {
  color: #000000;
  line-height: 30px;
}

#header .header__menu ul li .header__menu-top:hover {
  color: #959595;
}
#header .header__menu ul li .header__menu-schedule:hover,
#schedule h2 {
  color: #ff6b51;
}
#header .header__menu ul li .header__menu-ticket:hover,
#ticket h2 {
  color: #ff6aaa;
}
#header .header__menu ul li .header__menu-guideline:hover,
#guideline h2 {
  color: #959595;
}

/* title */
.title {
  text-align: center;
}

.title h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.title p {
  font-size: 0.95rem;
  line-height: 2.2;
}

/* reception */
.reception {
  padding: 30px 30px 50px 30px;
  background-color: #fff;
}

.reception ul li {
  margin-bottom: 20px;
}

.reception ul li h4 {
  width: 100%;
  font-size:1rem; /* 16px */
  font-weight: normal;
  text-align: center;
  padding: 5px 10px;
  margin: 0 auto 10px;
  border: 1px solid #17161a;
  vertical-align: middle;
}

.reception ul li p {
  font-size: 1rem; /* 16px */
}

.reception .reception__btn {
  font-size: 1rem;
  display: block;
  height: 45px;
  width: 300px;
  line-height: 45px;
  background-color: black;
  margin: 45px auto 8px;
}

.reception .reception__btn:hover {
  background-color: #ff6aaa;
}

/* schedule */
#schedule .section-title h2::after {
  border-color: #ff6b51;
}

#schedule ul li,
#ticket ul li {
  border: 1px solid black;
  padding: 20px;
  position: relative;
  background-color: #fff;
}

#schedule ul li + li {
  border-top: none;
}

#schedule ul li .schedule__date {
  font-size: 1.13rem;
  font-weight: bold;
}

#schedule ul li .schedule__time {
  font-size: 0.88rem;
}

#schedule ul li .schedule__city {
  color: #E5E5E5;
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
}

#schedule ul li .schedule__date .schedule__link {
  position: relative;
  font-weight: normal;
  padding: 7px 20px;
  margin-left: 10px;
  background-color: #ff6b51;
  font-size: 0.8rem;
  vertical-align: top;
  z-index: 10;
}

#schedule ul li .schedule__date .schedule__link:hover{
  background-color: gray;
}

/* ticket */
#ticket .section-title h2::after {
  border-color: #ff6aaa;
}

#ticket ul li .ticket__type {
  position: relative;
  display: flex;
  align-items: center;
}

#ticket ul li .ticket__limited-icon {
  position: relative;
  margin-right: 20px;
  background-color: #FF5050;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#ticket ul li .ticket__limited-icon span {
  font-size: 0.75rem;
  color: white;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%);
  width: 80px;
  text-align: center;
}

#ticket ul li .ticket__price {
  font-size: 0.94rem;
  text-align: right;
}

#ticket ul li .ticket__price span {
  font-size: 2.19rem;
  font-weight: bold;
}

/* guideline */
#guideline .section-title h2::after {
  border-color: #959595;
}

/* goods */

#goods .section-title h2 {
  color: #5FDB64;
}

#goods .section-title h2::after {
  border-color: #5FDB64;
}

#goods .goods__message {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #959595;
}

/* official-website */
.official-website {
  margin-top: 200px;
  padding: 30px 10px;
  text-align: center;
  border: 1px solid black;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: inherit;
}

.official-website::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #FF5050;
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.official-website:hover::before {
  width: 100%;
}

.official-website .pageToArrow {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 40px;
  left: 40px;
  transition: 0.3s;
}

.official-website:hover .pageToArrow {
  transform: translateX(-20%);
  transition: 0.3s;
}

.official-website a {
  display: block;
  font-weight: normal;
}

.official-website a span {
  font-size: 30px;
}

/* footer */
footer {
  padding: 30px 10px 190px;
  text-align: center;
  font-size: 0.75rem;
}
/* share */
.share-menu {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 2%;
  left: 1.5%;
  padding: 25px 8px;
  border-radius: 22px;
  text-align: center;
  z-index: 10;
}

.share-menu .text {
  writing-mode: vertical-rl;
  padding-bottom: 5px;
}

.share-menu .share-icon {
  padding-top: 15px;
}

.share-menu .share-icon img {
  transition-duration: 0.3s;
}

.share-menu .share-icon:hover img {
  opacity: 0.6;
  transition-duration: 0.3s;
}

/* toTop */
.toTop {
  text-align: right;
}

.toTop a {
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: block;
  z-index: 10;
}

.toTop .toTopText {
  width: 80px;
  height: auto;
  position: fixed;
  bottom: 20px;
  right: 15px;
  /* animation: 8s linear infinite spin; */
}

/* keyframes */
@keyframes bgchange {
  0% {
    background: #F8F8F8;
  }
  25% {
    background: #d5efff;
  }
  50% {
    background: #ffffc4;
  }
  75% {
    background: #ffe2dc;
  }
  90% {
    background: #ffe1c7;
  }
  100% {
    background: #F8F8F8;
  }
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeUpAnime {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* PC */
@media(min-width: 768px) {
  /* common */
  .main {
    padding: 20px 100px;
  }

  .section-title h2 {
    font-size: 3.2rem;
  }

  .section-title h2::after {
    border: 2.5px solid black;
  }

  /* title */
  .title h2 {
    font-size: 2.2rem;
  }

  .title p {
    font-size: 1.3rem;
  }

  /* reception */

  .reception {
    padding: 60px;
    margin-top: 50px;
  }

  .reception ul li {
    width: 100%;
    display: table;
    align-items: center;
    vertical-align: middle;
  }

  .reception ul li h4 {
    display: table-cell;
    margin: 0;
    width: 200px;
    vertical-align: middle;
  }

  .reception ul li p {
    padding-left: 10px;
  }

  .reception__sp {
    display: none;
  }

   /* schedule */

  .schedule__sp {
    display: none;
  }

  #schedule 

  #schedule ul li .schedule__date {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  
  #schedule ul li .schedule__time {
    font-size: 0.88rem;
  }

  #schedule ul li .schedule__city {
    position: absolute;
    top: 25px;
    right: 15px;
  }

  #ticket ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }

  #ticket ul li .ticket__price span {
    font-size: 46px;
  }
}
